<div class"card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid vel aliquam nisi quo molestiae beatae neque
            distinctio repudiandae, veritatis minus reiciendis voluptatem laborum magni eos commodi voluptatum obcaecati
            illum. Soluta tempore velit neque voluptas quae consequuntur commodi placeat assumenda asperiores.</p>

    </div>
</div>