<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellat commodi dolores aperiam eos pariatur,
        blanditiis quos nisi distinctio odit ipsum assumenda. Similique, quaerat iste? Eum tenetur fugit excepturi
        quisquam.</p>
    <a href="https://www.google.com" class="btn btn-primary btn-lg">Ir a pagina</a>
</div>