<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="class-header"></div>
        <h3>New Note</h3>
        <div class="card-body">
            <form action="/">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>

                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>